@model HospitalApp.Models.Clinic

<h1>Details for @Model.Name</h1>

<h2>Doctors:</h2>
<ul>
    @foreach (var doctor in Model.Doctors)
    {
        <li>@doctor.Name</li>
    }
    
</ul>

<a asp-controller="Clinic" asp-action="Index">Back to Clinic List</a>