@model IEnumerable<HospitalApp.Models.Clinic>

<h1>Clinic List</h1>

<ul>
    @foreach (var clinic in Model)
    {
        <li>
            <a asp-controller="Clinic" asp-action="Details" asp-route-id="@clinic.Id">
                @clinic.Name
            </a>
        </li>
    }
</ul>