@using HospitalApp.Models
@model Appointment

<h1>Kadirlili Arda Efendi !!!</h1>
<a href="/Appointment/Create">Make an appointment</a>
<a href="/Clinic/Index">Clinics</a>
<a href="/Appointment/AvailableTimes">AvailableTimes</a>

@* @foreach(var user in Model){
           <tr>
                <td> @user.ClinicName </td>
                
           </tr> 
        } *@




